node_modules/
dist/
build/
/.pnp.cjs
.pnp.js
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
bun.lock
.env
.env.*
.idea/
.vscode/
.DS_Store
.next/
/.parcel-cache/
/.turbo/
public/avatars/
__pycache__/
venv/
